# Render backend environment
NODE_ENV=production
PORT=10000
DATABASE_URL=mongodb+srv://vantravel:vantravel@vantravelgeorgia.whnt6za.mongodb.net/petadopt?retryWrites=true&w=majority&appName=Vantravelgeorgia
JWT_SECRET=SET_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d
SERVER_PUBLIC_URL=https://petadopt-bw8x.onrender.com
CLIENT_URL=https://petadoptgeo.netlify.app/
CORS_ORIGINS=https://petadoptgeo.netlify.app/
ADMIN_EMAIL=admin@petadopt.local
ADMIN_PASSWORD=123
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=PetAdopt <no-reply@petadopt.local>
VAPID_SUBJECT=mailto:admin@yourdomain.com
VAPID_PUBLIC_KEY=BPnsqTaGDcrIGUQopc0NHZj8us12KLqkb_o_anOVUJ1VKXhHkBFpc2ckFt7IJkhnLcyRjbcJumD4LPzLZqplFF4
VAPID_PRIVATE_KEY=iUbjP0Mvgk1_7pA8oLKByXABORyAlY5C4JXsncelxIM
