# Netlify frontend environment
VITE_API_URL=https://petadopt-bw8x.onrender.com/api
VITE_SOCKET_URL=https://petadopt-bw8x.onrender.com
VITE_VAPID_PUBLIC_KEY=BPnsqTaGDcrIGUQopc0NHZj8us12KLqkb_o_anOVUJ1VKXhHkBFpc2ckFt7IJkhnLcyRjbcJumD4LPzLZqplFF4
